*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(71, 71, 71);
    font-family: 'Oxygen', sans-serif;
}
main{
    display: flex;
    overflow: hidden;
}
.main-area{
    display: flex;
    flex-direction: column;
}
.clock{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 22px;
    letter-spacing: 1.3px;
    font-weight: 600;
    color: rgb(241, 241, 241);
}
.top{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    height: 30px;
}
.burger-menu{
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.search{
    width: 200px;
    margin-left: 20px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    border: none;
    padding: 0px 10px;
    font-size: 16px;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    width: 100px;
    background-color: rgb(241, 241, 241);
    transition: 1s;
    box-shadow: 0 0 10px black;
}
.menu-hide{
    transform: translateX(-120px);
    display: none;
}
.logo{
    width: 90%;
    margin: 20px 5% 10px 5%;
    text-align: center;

}
.fa-sticky-note, .fa-calendar-alt{
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.menu-buttons{
    display: flex;
    flex-direction: column;
}
.menu button{
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.menu button:hover, .note-popup .save:hover, .note-popup .cancel:hover, .event-popup .save:hover, .event-popup .cancel:hover {
    background-color: rgb(41, 41, 41);
    color: rgb(230, 230, 230);
}

.note-area{
    display: flex;
    align-items: start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 25px;
}

.note{
    margin: 20px 20px;
    width: 230px;
    max-height: 250px;
    background-color: rgb(255, 245, 56);
    overflow: auto;
    border-radius: 5px;
}
.note-hide{
    display: none;
}

.note-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgba(0,0,0,.15);
}

.note-header .delete-note{
    background: none;
    font-size: 18px;
    border: none;
    cursor: pointer;
    color: black;
}

.note-body{
    padding: 20px 15px;
    font-size: 14px;
}

/* Note popup */
.note-popup{
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 0;
    width: 450px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 12px black;
    border-radius: 5px;
    z-index: 99;
}

.note-popup h3{
    margin-bottom: 20px;
    text-transform: uppercase;
}

.note-popup label{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
}
.note-popup button{
    color: black;
    cursor: pointer;
}

.note-popup #text,
.note-popup #category{
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 100%;
    max-width: 90%;
    max-height: 300px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    color: black;
}

.note-popup .error{
    margin-bottom: 20px;
    font-size: 14px;
    color: red;
    visibility: hidden;
}

.note-popup .save, .note-popup .cancel, .event-popup .save, .event-popup .cancel {
    padding: 12px 25px;
    background: none;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: .3s;

}
/* Event popup */

.event-popup{
    position: absolute;
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    padding: 20px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 12px black;
    border-radius: 5px;
    z-index: 99;
}
.event-popup h3{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.event-popup label{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
}
.event-info{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin-top: 20px;
}
#event-name{
    width: 90%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
.event-info input{
    height: 30px;
    width: 90px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}
.event-popup .error{

    margin: 10px 0px;
    font-size: 14px;
    color: red;
    visibility: hidden;
}
.note-popup button{
    color: black;
    cursor: pointer;
}

/* rgb(237 90 79) rgb(34 193 201)*/
/* Event Widget */
.event-widget{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 20px;
    top: 50px;
    width: 250px;
    height: 180px;
    color: white;
    background-color: rgb(237 90 79);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.6);
}
.event-widget-name{
    margin-top: 20px;
    margin-bottom: 10px;
}

.counter
{
    display: flex;
    width: 85%;
    justify-content: space-evenly;
    text-align: center;
}
.time{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.number
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 35px;
    height: 45px;
    margin-bottom: 5px;
    font-weight: bold;
    border:2px solid rgb(255, 255, 255);
    border-radius: 5px;
}
.number-description{
    font-size: 12px;
}
.active{
    display: flex;
}

/* Weather widget*/

.weather-widget{
    position: absolute;
    display: flex;
    right: 20px;
    bottom: 20px;
    background-color: rgb(36, 175, 255);
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    z-index: 98;
    box-shadow: 0 0 10px rgba(0,0,0,.6);
}

.weather-left, .weather-middle, .weather-right{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 130px;
    height: 150px;
}

.part{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    overflow: hidden;
}
.weather-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather-img{
    width: 60px;
}
.weather-settings{
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    animation: startRotate 4s 2s forwards;
}
@keyframes startRotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.weather-change{
    display: none;
    transition: .5s;
}
.weather-change-active{
    display: inline;
}
.weather-change-input{
    position: absolute;
    top: -40px;
    left: 0px;
    height: 30px;
    width: 180px;
    border: none;
    border-radius: 5px;
    padding: 0px 10px;
}
.weather-change-button{
    position: absolute;
    top: -40px;
    left: 190px;
    height: 30px;
    width: 60px;
    padding: 5px;
    color: black;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}



/* Media */

@media(max-width: 600px){
    .clock{
        display: none;
    }
    .note-popup{
        width: 300px;
    }
}

@media(max-width: 550px){
    .weather-middle{
        display: none;
    }
    .note{
        margin: 10px 10px;
        width: 200px;
        max-height: 250px;
        background-color: rgb(255, 245, 56);
        overflow: auto;
        border-radius: 5px;
    }
    /* change to default hide menu on small devices */
    .menu{
        display: none;
    }
    .menu-hide
    {
        display: flex;
        transform: translateX(0);
    }
}

@media(max-width: 400px){
    .weather-widget{
        flex-direction: column;
    }
    .weather-left, .weather-middle, .weather-right{
        height: 90px;
    }
    .weather-settings{
        right: 3px;
        top: 3px;
    }
    .weather-change-input{
        top: -40px;
        left: 0px;
        height: 30px;
        width: 130px;
    }
    .weather-change-button{
        top: -80px;
        left: 35px;
        height: 30px;
        width: 60px;
        padding: 5px;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
    }
}